<a href="https://colab.research.google.com/github/tonyjosephsebastians/100DaysMLCode/blob/main/svm_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
import numpy as np

In [61]:
import pandas as pd

In [62]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data',header=0)

In [63]:
df

     1000025  5   1  1.1  1.2  2 1.3   3  1.4  1.5  2.1
0    1002945  5   4    4    5  7  10   3    2    1    2
1    1015425  3   1    1    1  2   2   3    1    1    2
2    1016277  6   8    8    1  3   4   3    7    1    2
3    1017023  4   1    1    3  2   1   3    1    1    2
4    1017122  8  10   10    8  7  10   9    7    1    4
..       ... ..  ..  ...  ... ..  ..  ..  ...  ...  ...
693   776715  3   1    1    1  3   2   1    1    1    2
694   841769  2   1    1    1  2   1   1    1    1    2
695   888820  5  10   10    3  7   3   8   10    2    4
696   897471  4   8    6    4  3   4  10    6    1    4
697   897471  4   8    8    5  4   5  10    4    1    4

[698 rows x 11 columns]

In [64]:
classes = ['id','Clump','Cell Size','Cell Shape','Adhesion','Epithelial Cell Size','Nuclei','Chromatin','Nucleoli',' Mitoses','target']

In [65]:
df.columns = classes

In [66]:
df

          id  Clump  Cell Size  ...  Nucleoli   Mitoses  target
0    1002945      5          4  ...         2         1       2
1    1015425      3          1  ...         1         1       2
2    1016277      6          8  ...         7         1       2
3    1017023      4          1  ...         1         1       2
4    1017122      8         10  ...         7         1       4
..       ...    ...        ...  ...       ...       ...     ...
693   776715      3          1  ...         1         1       2
694   841769      2          1  ...         1         1       2
695   888820      5         10  ...        10         2       4
696   897471      4          8  ...         6         1       4
697   897471      4          8  ...         4         1       4

[698 rows x 11 columns]

In [82]:
X = df.iloc[:,2:4]
y = df.iloc[:,-1]

In [83]:
X

     Cell Size  Cell Shape
0            4           4
1            1           1
2            8           8
3            1           1
4           10          10
..         ...         ...
693          1           1
694          1           1
695         10          10
696          8           6
697          8           8

[698 rows x 2 columns]

In [84]:
X.columns.str.replace('\?', '', regex=True)

Index(['Cell Size', 'Cell Shape'], dtype='object')

In [85]:
X.isnull().sum()

Cell Size     0
Cell Shape    0
dtype: int64

In [86]:
#SVM Implimentation using sklearn
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [87]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

In [90]:
X_new = sc.fit_transform(X)

In [91]:
X_train,x_test,y_train,y_test = train_test_split(X_new,y,test_size=0.2)

In [93]:
clf = SVC(kernel='linear')
clf.fit(X_train,y_train)
y_pred = clf.predict(x_test)
print(accuracy_score(y_test,y_pred))

0.9214285714285714

In [94]:
X_train = np.array(X_train)
y_train = np.array(y_train)
x_test = np.array(x_test)
y_test = np.array(y_test)

In [95]:
X_train.shape

(558, 2)

In [96]:
x_test.shape

(140, 2)

In [97]:
y_test.shape

(140,)

In [104]:
y_train = y_train.reshape(558,1)
y_test = y_test.reshape(140,1)

In [98]:
import numpy as np

train_f1 = X_train[:,0]
train_f2 = X_train[:,1]

In [101]:
train_f1.shape

(558,)

In [102]:
train_f1 = train_f1.reshape(558,1)
train_f2 = train_f2.reshape(558,1)

w1 = np.zeros((558,1))
w2 = np.zeros((558,1))

epochs = 1
alpha = 0.0001

In [ ]:
while(epochs < 10000):
    y = w1 * train_f1 + w2 * train_f2
    prod = y * y_train
    print(epochs)
    count = 0
    for val in prod:
        if(val >= 1):
            cost = 0
            w1 = w1 - alpha * (2 * 1/epochs * w1)
            w2 = w2 - alpha * (2 * 1/epochs * w2)
            
        else:
            cost = 1 - val 
            w1 = w1 + alpha * (train_f1[count] * y_train[count] - 2 * 1/epochs * w1)
            w2 = w2 + alpha * (train_f2[count] * y_train[count] - 2 * 1/epochs * w2)
        count += 1
    epochs += 1

In [112]:
from sklearn.metrics import accuracy_score

w1 = w1.reshape(140,1)
w2 = w2.reshape(140,1)
## Extract the test data features 
test_f1 = x_test[:,0]
test_f2 = x_test[:,1]

test_f1 = test_f1.reshape(140,1)
test_f2 = test_f2.reshape(140,1)
## Predict
y_pred = w1 * test_f1 + w2 * test_f2
predictions = []
for val in y_pred:
    if(val > 1):
        predictions.append(4)
    else:
        predictions.append(2)

print(accuracy_score(y_test,predictions))

0.6642857142857143